@charset "UTF-8";
/* CSS Document */
/*Command dấu chấm hỏi để viết ghi chú*/
/*vào đây để tìm gradient generator https://css3generator.com*/

@font-face {
  font-family: Montserrat-Bold;
  src: url("../font/Montserrat-Bold.ttf");
}
@font-face{
	font-family: Montserrat-SemiBold;
	src: url("../font/Montserrat-SemiBold.ttf")
}
@font-face{
	font-family: Montserrat-Regular;
	src: url("../font/Montserrat-Regular.ttf")
}
@font-face{
	font-family: Montserrat-Thin;
	src: url("../font/Montserrat-Thin.ttf")
}

h1 {
	font-family: Montserrat-Bold;  
	font-size: 32px;
	line-height: 42px;
	margin: 0px 0px -5px 0px;
}
h2 {
	font-family: Montserrat-Regular; 
	font-weight:lighter; 
	font-size: 18pt;
	margin: 10px 0px 0px 0px;
}
h3 {
	font-family: Montserrat-Bold;
	font-size: 12pt;
	line-height:25px;
	margin: 0px 0px 0px 0px;
}
h4 {
	font-family: Montserrat-Regular;
	font-size:12px;
	line-height: 22px;
	font-weight:lighter;
}
/* unvisited link */
a:link {
  	color:#5ac8d7;
  	text-decoration: none;
	text-transform: uppercase;
	font-family: Montserrat-SemiBold;
	font-size: 8pt;
}

/* visited link */
a:visited {
  	color: #827F7F;
}

/* mouse over link */
a:hover {
  	color: black;
}

/* selected link */
a:active {
  	color: blue;
}

button {
	width:150px;
	height: 42px;
	border-radius: 50px;
	background-color:#5ac8d7;
	border:none;
	font-family:Montserrat-Bold;
	color: white;
	text-transform: uppercase;
}
button:hover {
  background-color: black;
  color: white;
}
.button2 {
	width:150px;
	height: 40px;
	border-radius: 50px;
	background-color:none;
	border:1px black solid;
	font-family:Montserrat-Bold;
	color: black;
	text-transform: uppercase;
	display:flex;
	justify-content: center;
	align-items: center;
}
.button2:hover {
  background-color: black;
  color: white;
}
.container {
	width:100%;
	height:auto;
}
.header {
	width: 100%;
	height: auto; 
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b8bac6+1,b8bac6+1,dbdce2+21,f5f6f6+53,dddfe3+80,f5f6f6+100 */
background: #b8bac6; /* Old browsers */
background: -moz-linear-gradient(left,  #b8bac6 1%, #b8bac6 1%, #dbdce2 21%, #f5f6f6 53%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b8bac6 1%,#b8bac6 1%,#dbdce2 21%,#f5f6f6 53%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b8bac6 1%,#b8bac6 1%,#dbdce2 21%,#f5f6f6 53%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8bac6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 */

}
.banner {
	width: 100%;
	height: 100px;
	background-color:none;
}
.logo {
	width: 20%;
	height: 100px;
	float:left;
	padding: 40px 0px 0px 0px 
}
/* Ghi chú bài học: khi làm menu dọc, để menu có height auto thì sẽ tự co theo nội dung */
.menu {
	width: 80%;
	height: auto;
	float:right;
	display:flex;
	justify-content: center;
	font-family: Montserrat-SemiBold;
}
.menu ul {
	list-style:none;	
}
.menu ul li {
	float:left;
	padding: 30px 30px 30px 30px; 
	position: relative;
}
.menu ul li a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 8pt;
}
.menu ul li:hover a{
		color: #5ac8d7;
}
/*Menu con */
/* Ghi chú bài học: đối tượng làm chuẩn position relative, đối tượng xoay quanh position absolute. Z index lớn nằm trên z index nhỏ */
.menu ul li ul {
	position: absolute;
	left: 0px;
	top: 30px;
	visibility:hidden;
}
.menu ul li:hover ul {
	visibility:visible;
}
.menu ul li ul li{
	width:65px;
	padding:50px 0px 0px 0px;
}
.slider {
	width: 100%;
	height: 750px;
	background-image: url(../images/slider.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.slidertext{
	width: 50%;
	height: auto;
	background-color:none;
	float:right;
	padding: 5% 2px 5% 20px;
	font-family: Montserrat-Bold;
}
.slidertextboxleft{
	width:auto;
	height:auto;
	background-color:none;
	float:left;
	padding: 10px 0px 20px 0px;
}
.slidertextboxright{
	width: 45%;
	height:auto;
	background-color:none;
	float:right;
	padding: 0px 45% 0px 0px;
	font-family: Montserrat-Regular;
	font-size:12px;
	line-height: 20px;
}
.banner2 {
	width: 100%;
	height: 145px;
	background-color:#f5f5f5;
}
.text {
	width:45%;
	height:135px;
	background-color:none;
	float: left;
	font-family: Montserrat-Bold;
	padding:0px 0px 0px 50px;
	display:flex;
	justify-content: center;
	align-items: center
}
.search {
	width:45%;
	height:90px;
	background-color:#none;
	float:right;
	padding:42px 0px 0px 0px;
}
input {
	width: 400px;
	height: 38px;
	border-radius:50px;
	border:1px #4A4A4A solid;
}
.slider2{
	width: 100%;
	height: 750px;
	background-image: url("../images/slider2.png");
	background-color:white;
	background-repeat: no-repeat;
	background-position: left;
}
.slider3{
	width: 100%;
	height: 365px;
	background-color:#f5f5f5;
	display:flex;
	justify-content: center;
}
.gridtext {
	width:290px;
	height:365px;
	background-color:none;
	float:left;
	display: flex;
	justify-content:center;
  	align-items:center;
	padding:10px 20px 20px 20px;
	text-decoration: none;
}
.gridpic {
	width: 320px;
	height: 365px;
	float:left;
	background-color: #f5f5f5;
}
.feature {
	width:100%;
	height:auto;
	background-color:none;
	display:flex;
	justify-content: center;
}
.feature_content {
	width:23%;
	height:auto;
	background-color:none;
	float:left;
	margin: 0px 1% 0px 1%;
	padding: 20px 30px 0px 30px;
}
.info {
	width:100%;
	height:300px;
	background-color:#5ac8d7;
	display:flex;
	justify-content: center;
	align-items:center;
}
.numberblock {
	width: 60px;
	height: 35px;
	float: left;
	display: flex;
	justify-content: center;
  	align-items:center;
	font-family:  Montserrat-Regular;
	color:white;
	font-size: 34pt;
	background-color:none;
}
.textblock {
	width: 130px;
	height: 35px;
	display: flex;
	justify-content:left;
  	align-items:center;
	line-height: 20px;
	background-color:none;
	font-family:  Montserrat-Bold;
	color:white;
	text-transform: uppercase;
	font-size:10pt;
	padding: 0px 20px 0px 20px;
}
.event {
	width:100%;
	height:auto;
	background-color:none;
	display:flex;
	justify-content:center;
}
.event_content {
	width:250px;
	height:auto;
	background-color:none;
	float:left;
	margin: 0px 30px 0px 30px;
}
/*nền bg lấy tại đây https://www.svgbackgrounds.com/#wavey-fingerprint*/
.testimonial {
	width:100%;
	height:600px;
	display:flex;
	justify-content: center;
	align-items:center;
	background-color: #fafafa;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ffffff' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.contact {
	width: 100%;
	height: 350px;
	background-color: none;
	display: flex;
	justify-content: center;
}
.contactblock {
	width: 186px;
	height: 261px;
	margin: 115px 30px 0px 30px;
	display: flex;
	justify-content:center;
  	align-items:flex-start;
}

.footer {
	width: 100%;
	height: 350px;
	background-color:#1E1E1E;
	display:flex;
	justify-content: center;
	align-items:center;
}	
.menufooter {
	width: 100%;
	height: auto;
	float:right;
	display:flex;
	justify-content: center;
	font-family: Montserrat-SemiBold;
}
.menufooter ul {
	list-style:none;	
}
.menufooter ul li {
	float:left;
	padding: 30px 30px 30px 30px; 
	position: relative;
}
.menufooter ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 8pt;
}
.menufooter ul li:hover a{
		color: #5ac8d7;
}
/*Menu con */

.menufooter ul li ul {
	position: absolute;
	left: 0px;
	top: 30px;
	visibility:hidden;
}
.menufooter ul li:hover ul {
	visibility:visible;
}
.menufooter ul li ul li{
	width:65px;
	padding:50px 0px 0px 0px;
}

